.submitButton1{
    background: #2bafc7;
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    /* text-transform: uppercase; */
    padding: 10px 22px;
}
.cstable{
    width: 100% !important;
}