<div class="containermainBlock">
  <div class="headerDiv">
      <div class="displayFlex spaceBetween plr50">
          <div class="logoBlock"><img src="../../../assets/logo1.png" /></div>
      </div>
  </div>

  <div class="mainDivsection thankyou_container">
    <div class="containerBlock" style="margin-left: 0px;">
      <div class="ptb50" *ngIf="decision === 'approved'">
        <div class="titleTxt">We're pickin' up good vibrations!</div>
        <div class="mainContent" style="text-align: center;">
          Your credit application has been successfully submitted and things are looking good! We'll let you know if anything further is needed to return a decision. We appreciate your patience.
          <br>Thanks again for partnering with ORKA Finance on your solar journey.
        </div>
      </div>

      <div class="ptb50" *ngIf="decision !== 'approved'">
        <div class="titleTxt">Thanks for completing your credit application!</div>
        <div class="mainContent" style="text-align: center;">
          Your credit application has been successfully submitted and is now under review. We should have everything we need to return a decision quickly and we appreciate your patience in the meantime. 
          <br/>Thanks again for partnering with ORKA Finance on your solar journey.
        </div>
      </div>
    </div>
  </div>
</div>
