<div class="backgroundBg">
  <div class="container">
    <div class="row AlignItemCenter pt50 displayFlex pb50">
      <div class="col-md-4"><img src="../../assets/orka_logo2.svg" /></div>
    </div>
    <div class="row">
      <div class="col-md-12 policytxt">
        <div style="padding-bottom: 20px; border-bottom: 1px solid #ccc">
          Orka Finance Inc. (“Orka”) is committed to resolving security
          vulnerabilities quickly and carefully. In order to protect our users
          and their data, we request that vulnerabilities be responsibly and
          confidentially reported to us so that we may investigate and respond
          accordingly. Vulnerabilities should not be announced until we have
          developed and rolled-out an update.
        </div>
        <br />

        <strong>
          Unpermitted Uses of Orka’s Website and Unpermitted Types of Security
          Research</strong
        ><br /><br />

        <ul class="whale">
          <li>
            Intentionally harming the experience or usefulness of the service to
            others
          </li>
          <li>
            Causing, or attempting to cause, a Denial of Service (DoS) condition
          </li>
          <li>
            Accessing, or attempting to access, data or information that does
            not belong to you
          </li>
          <li>
            Destroying or corrupting, or attempting to destroy or corrupt, data
            or information that does not belong to you
          </li>
        </ul>

        If you are researching security issues, especially those which may
        compromise the privacy of others, please do so cautiously in order to
        respect our users’ privacy. When possible, you should conduct all
        vulnerability testing against non-production instances of our products
        to minimize the risk to data and services.<br />
        <br />

        <strong>Out of Scope Vulnerabilities </strong><br />
        <br />
        We review security issues on a case-by-case basis. Below are some of the
        common low-risk issues that might not be considered serious security
        vulnerabilities by Orka: <br />
        <br />
        <ul class="whale">
          <li>
            Flaws affecting the users due to out-of-date browsers and plugins
          </li>
          <li>
            Clickjacking on pages without sensitive content, authentication, or
            state changing actions
          </li>
          <li>Vulnerabilities dependent upon social engineering techniques</li>
          <li>Brute force protection on login page</li>
          <li>Logout cross-site request forgery</li>
          <li>Any physical attempts against Orka property or data centers</li>
        </ul>
        <br />

        <strong> Our Security Commitment </strong><br />
        <br />
        For all security vulnerability reporters who follow this policy, Orka
        will attempt to do the following: <br />
        <br />
        <ul class="whale">
          <li>Acknowledge the receipt of your report</li>
          <li>
            Investigate in a timely manner, confirming the potential
            vulnerability where possible
          </li>
          <li>
            Provide a plan and timeframe for addressing the vulnerability if
            appropriate
          </li>
          <li>
            Notify the vulnerability reporter when the vulnerability has been
            resolved
          </li>
        </ul>
        <br />

        <strong> Acknowledging Contribution</strong><br />
        <br />
        Orka is pleased to recognize those who have helped make Orka services
        safer by finding and reporting security vulnerabilities according to
        this policy. Each name listed represents an individual or company who
        has privately disclosed one or more security vulnerabilities and worked
        with us to remediate the issue. With the agreement of the vulnerability
        reporter, Orka may acknowledge the reporter’s contribution during the
        public disclosure of the vulnerability so long as the reporter complies
        with this policy.<br />
        <br />
        Orka does not compensate for reporting security vulnerabilities.<br />
        <br />

        <strong> Changes in Policy</strong><br />
        <br />

        We may update or amend this policy at any time with or without notice to
        you. We encourage you to periodically review this page for the latest
        information on our privacy practices.<br />
        <br />

        <br />
        <br />
        <div style="clear: both"></div>
      </div>
    </div>
    <div style="clear: both"></div>
  </div>
  <div style="clear: both"></div>
</div>
<div style="clear: both"></div>
<br />
<br />
<footer>
  <div class="partnerFooter"></div>
  <div class="partnerFooterbg">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="footerLogo" src="../../../assets/orka_whitelogo1.png" />
        </div>
        <div class="col-md-3">
          <div class="displayFlex flexDirection">
            <div
              class="graytext cursorpointer pr20 pb10px"
              target="_blank"
              (click)="privacy()"
            >
              Privacy Policy
            </div>

            <div
              class="graytext cursorpointer pr20 pb10px"
              target="_blank"
              (click)="termscondition()"
            >
              Terms and Conditions
            </div>

            <div
              class="graytext cursorpointer pb10px"
              target="_blank"
              (click)="securitypolicy()"
            >
              Security Policy
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="graytext pb10px">Need help or have questions?</div>

          <div class="whiteText pb10px">
            Don't hesitate to contact ORKA's Support Team at
            <a href="mailto:support@orkafinance.com" class="footerlinktxt"
              >support@orkafinance.com</a
            >
          </div>
          <div class="whiteText pb10px">or by phone at (844) ORKA-POD.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
