a {
  color: #007bff !important;
}

label {
  // font-family: "AvenirBlack";
  line-height: 38px;
  color: #232323;
  // height: 20px;
  // width: 250px;
  // margin-top: 10px;
  // text-align: left;
  clear: both;
  // float: left;
  // margin-right: 15px;
}

input {
  // font-family: "Avenir";
  font-size: 14px;
  color: #232323;
  // height: 20px;
  // width: 450px;
  border: none;
  // margin-top: 17.5px;
  // float: left;
  background-color: transparent;
  outline: none;
}

input[type="button"] {
  float: none;
}

input[type="checkbox"] {
  position: relative;
  top: 2px;
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  margin: 0 5px 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 50px;
  background-color: #fff;
  border: 3px solid #3eb94a;
}

input[type="checkbox"]:before {
  content: "";
  display: block;
}

input[type="checkbox"]:checked:before {
  width: 6px;
  height: 10px;
  margin: 1px 4.5px;
  border-bottom: 2px solid #3eb94a;
  border-right: 2px solid #3eb94a;
  transform: rotate(45deg);
}
.dropbtn {
  background-color: transparent;
  font-family: AvenirNext;
  font-size: 14px;
  line-height: 27px;
  color: #afafaf;
  cursor: pointer;
  border: none;
}
.dropdownSite {
  /* styling */
  background-color: transparent;
  border: none;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  margin: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  margin-right: 80px;
  margin-top: 15px;
  -moz-appearance: none;
  width: 250px;
  padding: 0;
  outline: none;

  /* reset */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 1000;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f5861b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f5861b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.floatdisable {
  float: unset;
}
// th.sorting {
//   white-space: nowrap;
// }

.table {
  width: 100% !important;
}
// .table.dataTable {
//   margin-top: 0px !important;
// }
table th,
table td {
  white-space: nowrap !important;
  text-align: center;
}
.dataTables_scroll {
  white-space: nowrap;
}

// .name_width {
//   width: 200px !important;
// }

table.dataTable > thead .sorting,
table.dataTable > thead .sorting_asc,
table.dataTable > thead .sorting_desc,
table.dataTable > thead .sorting_asc_disabled,
table.dataTable > thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}

table.partner_info {
  width: 100%;
}
table.partner_info th {
  text-align: left;
  font-weight: 600;
  width: 30%;
}
table.partner_info td {
  text-align: left !important;
}
.form-control {
  border: 1px solid #ced4da !important;
}
