<div class="containermainBlock">
    <div class="headerDiv">
        <div class="displayFlex spaceBetween plr50">
            <div class="logoBlock"><img src="../../../assets/logo1.png" /></div>
        </div>
    </div>

    <div class="mainDivsection thankyou_container">
        <div class="containerBlock" style="margin-left: 0px;">
            <div class="ptb50">
                <div class="titleTxt">WE'RE SORRY</div>
                <div class="mainContent" style="text-align: center;">
                    <span *ngIf="message1">{{message1}}</span>
                    <span *ngIf="message2">{{message2}}</span>
                </div>
                <!-- <div class="mainContent mt30" style="text-align: center;">
                    If you have any questions, you can contact ORKA Support by phone at (844) 772-9289 or by email at
                    support@orkafinance.com. Thanks for partnering with ORKA Finance.
                </div> -->
            </div>
        </div>
    </div>
</div>