.profilePhoto{
    font-size: 50px;
}
input {
    font-family: "Avenir";
    font-size: 14px;
    color: #232323;
    height: 20px;
    width: 400px;
    border: none;
    // margin-top: 17.5px;
    float: left;
    background-color: transparent;
    outline: none;
    text-align: end;
  }
  .list ul li {
    width: 62% !important;
}