<div class="m50px">
  <div class="fs22px pb20 textAlignCenter">Settings</div>

  <div class="grayBox mb50px">
    <div class="fs22px pb20">Account</div>
    <div class="displayFlex AlignItemCenter">
      <div class="profileIcon marginInherit">
        <img src="{{ profileImgUrl }}" alt="profile Image" />
      </div>
      <div class="p10px">
        <ngx-file-drop
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event)"
          accept=".jpg,.jpeg,.png"
          multiple="false"
        >
          <ng-template
            ngx-file-drop-content-tmp
            let-openFileSelector="openFileSelector"
          >
            <button
              type="button"
              class="uploadButton mb10px"
              (click)="openFileSelector()"
            >
              Upload
            </button>
            <br />
          </ng-template>
        </ngx-file-drop>

        <button
          type="button"
          class="removeButton"
          (click)="removeProfileImage()"
        >
          Remove
        </button>
      </div>
    </div>

    <div class="ptop15" *ngIf="main_installer_id=='null'">
      <form
        name="form"
        (ngSubmit)="f.form.valid && installerEditSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="ContactName">First Name</label>
          <input
            type="text"
            name="firstName"
            class="form-control"
            placeholder="Enter First Name"
            (input)="f1.firstName = namedata($event)"
            [(ngModel)]="f1.firstName"
            #firstName="ngModel"
            required
            [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }"
          />
          <small
            *ngIf="firstName.invalid && (firstName.touched || f.submitted)"
            class="text-danger"
            >First name is required</small
          >
        </div>
        <div class="form-group">
          <label for="ContactName">Last name</label>
          <input
            type="text"
            name="lastName"
            class="form-control"
            placeholder="Enter Last name"
            (input)="f1.lastName = namedata($event)"
            [(ngModel)]="f1.lastName"
            #lastName="ngModel"
            required
            [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }"
          />
          <small
            *ngIf="lastName.invalid && (lastName.touched || f.submitted)"
            class="text-danger"
            >Last name is required</small
          >
        </div>        
        <div class="form-group">
          <label for="ContactEmail">Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            [(ngModel)]="f1.email"
            #email="ngModel"
            required
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
            [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
          />
          <small
            *ngIf="email.invalid && (email.touched || f.submitted)"
            class="text-danger"
            >Email is required</small
          >
        </div>
        <div class="form-group">
          <label for="ContactName">Phone</label>
          <input
            type="text"
            name="phone"
            class="form-control"
            placeholder="Enter Phone"
            placeholder="+1 (000) 000-0000"
            mask="+0 (000) 000-0000"
            (input)="f1.phone = $event.target.value"
            [(ngModel)]="f1.phone"
            #phone="ngModel"
            required
            [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }"
          />
          <small
            *ngIf="phone.invalid && (phone.touched || f.submitted)"
            class="text-danger"
            >Phone is required</small
          >
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="ContactName">Installation Street Address</label>
              <input
                type="text"
                name="streetAddress"
                class="form-control"
                placeholder="Enter Installation Street Address"
                [(ngModel)]="f1.streetAddress"
                #streetAddress="ngModel"
                required
                [ngClass]="{
                  'is-invalid': f.submitted && streetAddress.invalid
                }"
              />
              <small
                *ngIf="
                  streetAddress.invalid &&
                  (streetAddress.touched || f.submitted)
                "
                class="text-danger"
                >Street address is required</small
              >
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="ContactName">Unit</label>
              <input
                type="text"
                name="unit"
                class="form-control"
                placeholder="Enter Unit"
                [(ngModel)]="f1.unit"
                #unit="ngModel"
                required
                [ngClass]="{ 'is-invalid': f.submitted && unit.invalid }"
              />
              <small
                *ngIf="unit.invalid && (unit.touched || f.submitted)"
                class="text-danger"
                >Unit is required</small
              >
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="ContactName">City</label>
              <input
                type="text"
                name="city"
                class="form-control"
                placeholder="Enter City"
                [(ngModel)]="f1.city"
                #city="ngModel"
                required
                [ngClass]="{ 'is-invalid': f.submitted && city.invalid }"
              />
              <small
                *ngIf="city.invalid && (city.touched || f.submitted)"
                class="text-danger"
                >City is required</small
              >
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="ContactName">State</label>
              <input
                type="text"
                name="state"
                class="form-control"
                placeholder="Enter State"
                [(ngModel)]="f1.state"
                #state="ngModel"
                required
                [ngClass]="{ 'is-invalid': f.submitted && state.invalid }"
              />
              <small
                *ngIf="state.invalid && (state.touched || f.submitted)"
                class="text-danger"
                >State is required</small
              >
            </div>
          </div>
          <div class="col-4">
            <div class="form-group">
              <label for="ContactName">Zip Code</label>
              <input
                type="text"
                name="zipCode"
                class="form-control"
                placeholder="Enter Zip Code"
                (input)="f1.zipCode = number($event)"
                [(ngModel)]="f1.zipCode"
                #zipCode="ngModel"
                required
                [ngClass]="{ 'is-invalid': f.submitted && zipCode.invalid }"
              />
              <small
                *ngIf="zipCode.invalid && (zipCode.touched || f.submitted)"
                class="text-danger"
                >Zip code is required</small
              >
            </div>
          </div>
        </div>
        <div class="form-group mt-5">
          <button type="submit" class="greenbutton">Save</button>
        </div>
      </form>
    </div>

    <div class="ptop15" *ngIf="main_installer_id!='null'">
      <form
        name="form"
        (ngSubmit)="sif.form.valid && subInstallerEditSubmit()"
        #sif="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="ContactName">First Name</label>
          <input
            type="text"
            name="firstName"
            class="form-control"
            placeholder="Enter First Name"
            (input)="f2.firstName = namedata($event)"
            [(ngModel)]="f2.firstName"
            #firstName="ngModel"
            required
            [ngClass]="{ 'is-invalid': sif.submitted && firstName.invalid }"
          />
          <small
            *ngIf="firstName.invalid && (firstName.touched || sif.submitted)"
            class="text-danger"
            >First name is required</small
          >
        </div>
        <div class="form-group">
          <label for="ContactName">Last name</label>
          <input
            type="text"
            name="lastName"
            class="form-control"
            placeholder="Enter Last name"
            (input)="f2.lastName = namedata($event)"
            [(ngModel)]="f2.lastName"
            #lastName="ngModel"
            required
            [ngClass]="{ 'is-invalid': sif.submitted && lastName.invalid }"
          />
          <small
            *ngIf="lastName.invalid && (lastName.touched || sif.submitted)"
            class="text-danger"
            >Last name is required</small
          >
        </div>        
        
        <div class="form-group mt-5">
          <button type="submit" class="greenbutton">Save</button>
        </div>
      </form>
    </div>
  </div>

  <div class="grayBox">
    <div class="fs22px pb20">Change Password</div>

    <form [formGroup]="changepwForm" (ngSubmit)="changePassword()">
      <label for="currentpw">Current Password</label><br />
      <input
        type="password"
        id="currentpw"
        formControlName="currentpw"
        class="form-control"
        [class.is-invalid]="
          cpf.currentpw.invalid && (cpf.currentpw.touched || fSubmitted)
        "
      />
      <small
        *ngIf="cpf.currentpw.invalid && (cpf.currentpw.touched || fSubmitted)"
        class="text-danger"
        >Current Password is required</small
      >
      <br />
      <label for="newpw">New Password</label><br />
      <input
        type="password"
        id="newpw"
        formControlName="newpw"
        class="form-control"
        [class.is-invalid]="
          cpf.newpw.invalid && (cpf.newpw.touched || fSubmitted)
        "
      />
      <small
        *ngIf="cpf.newpw.invalid && (cpf.newpw.touched || fSubmitted)"
        class="text-danger"
        >New Password is required</small
      >
      <br />
      <label for="cnewpw">Confirm New Password</label><br />
      <input
        type="password"
        id="cnewpw"
        formControlName="cnewpw"
        class="form-control"
        [class.is-invalid]="
          cpf.cnewpw.invalid && (cpf.cnewpw.touched || fSubmitted)
        "
      />
      <div *ngIf="cpf.cnewpw.touched || fSubmitted">
        <small *ngIf="cpf.cnewpw.errors?.required" class="text-danger"
          >Confirm password is required</small
        >
        <small *ngIf="changepwForm.errors?.misMatch" class="text-danger"
          >Password not matched</small
        >
      </div>
      <br />
      <button type="submit" class="greenbutton upperCase w200px">Save</button>
    </form>
  </div>
</div>

<ng-template #messagebox>
  <div class="modal-body text-center">
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="headtext">Message</p>
    <p *ngFor="let m of message">{{ m }}</p>
  </div>
</ng-template>
