.tomatoColor {
    font-size: 11px !important;
    color: Tomato;
}
.header{
    margin-top: 11px;
    font-weight: 800;
    text-transform: uppercase;
    color: #00b0c7 !important;
}
p.nrmltext {
    width: 780px;
    // color: #d1c8c8;
    font-size: 20px;
    font-weight: 550 !important;
}
.colorgray{
    color: gray;
}
.certifyuloan{
    width: 35px !important;
    height: 38px !important;
    margin-top: 35px;
}
.certifyuloanText{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18.5px;
    line-height: 24px;
    width: 893px;
}