<body class="partnerloginBg">
  <div class=" ">
    <div class="loginSection">
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <div>
              <div class="solarLogo logoorka"></div>
            </div>
            <p>Set New Password</p>
          </div>
          <form [formGroup]="resetpwForm" (ngSubmit)="onSubmit()">
            <!-- <label for="newpw">New Password</label><br /> -->
            <input
              type="password"
              id="newpw"
              formControlName="newpw"
              class="form-control"
              placeholder="New Password"
              [class.is-invalid]="
                f.newpw.invalid && (f.newpw.touched || fSubmitted)
              "
              (change)="validatePattern($event)"
            />
            <small
              *ngIf="f.newpw.invalid && (f.newpw.touched || fSubmitted)"
              class="text-danger"
              >New Password is required</small
            >
            
            <br />
            <!-- <label for="cnewpw">Confirm New Password</label><br /> -->
            <input
              type="password"
              id="cnewpw"
              formControlName="cnewpw"
              class="form-control"
              placeholder="Confirm New Password"
              [class.is-invalid]="
                (f.cnewpw.invalid && (f.cnewpw.touched || fSubmitted)) ||
                (fSubmitted && resetpwForm.errors?.misMatch)
              "
              (keyup)="validateConfirm($event)"
            />
            <div *ngIf="f.cnewpw.touched || fSubmitted">
              <small *ngIf="f.cnewpw.errors?.required" class="text-danger"
                >Confirm password is required</small
              >
              <small *ngIf="resetpwForm.errors?.misMatch" class="text-danger"
                >Password not matched</small
              >
              
            </div>
            <br />
            <div class="mb30px">
              <small *ngIf="patternCheck" class="text-danger txrcenter">
                <ul>
                  <li>Password must contain at least 1 Upper Case.</li>
                  <li>1 Lower case</li>
                  <li>1 Number</li>
                  <li>1 Special Character</li>
                  <li>Minimum length of 8 characters.</li>
                </ul>  
                <!-- Password must contain at least 1 Upper Case.<br>
                1 Lower case, <br>
                1 Number, <br>
                1 Special Character <br>
                minimum length of 8 characters.<br> -->
              </small>
            </div>
            <button [disabled]="patternCheck" type="submit" class="greenbutton upperCase w200px">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <ng-template #messagebox>
    <div class="modal-body text-center">
      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="close()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p class="headtext">Message</p>
      <p *ngFor="let m of message">{{ m }}</p>
    </div>
  </ng-template>
</body>
