<div class="containermainBlock">
  <div class="headerDiv">
    <div class="displayFlex spaceBetween plr50">
      <div class="logoBlock"><img src="../../../assets/logo1.png" /></div>
      <div>
        <div class=" ">
          <div class="whaleBg"></div>
          <div class="displayFlex progressbarcontiner">
            <div class="displayFlex" style="margin-right: 87px">
              <div
                class="positionAbsolute AvenirBlack textTransform pt240px fs16px"
                style="margin-left: -52px"
              >
                Part
              </div>
              <div class="blackline"></div>
            </div>
            <div class="displayFlex" style="margin-right: 88px">
              <div
                class="positionAbsolute AvenirBlack textTransform pt240px fs16px"
                style="margin-left: -16px"
              >
                1
              </div>
              <div class="blackline"></div>
            </div>
            <div class="displayFlex" style="margin-right: 89px">
              <div class="step02"><img src="../../../assets/step02.svg" /></div>
              <div
                class="positionAbsolute AvenirBlack textTransform pt240px fs16px"
                style="margin-left: -16px"
              >
                2
              </div>
              <div class="blueLineSmall"></div>
            </div>
            <div class="displayFlex mr90" style="margin-right: 89px">
              <div
                class="positionAbsolute AvenirBlack textTransform pt240px activetext fs16px"
                style="margin-left: -16px"
              >
                3
              </div>
              <div
                class="positionAbsolute AvenirBlack activetext fs16px"
                style="margin-left: -180px; padding-top: 297px"
              >
                BANK STATEMENTS
              </div>
              <div class="blueLineBig"></div>
            </div>
            <div class="displayFlex mr90">
              <div
                class="positionAbsolute AvenirBlack textTransform pt240px fs16px"
                style="margin-left: -16px"
              >
                4
              </div>
              <div class="blackline"></div>
            </div>
            <div class="displayFlex mr90" style="margin-right: 20px">
              <div
                class="positionAbsolute AvenirBlack textTransform pt240px fs16px"
                style="margin-left: -16px"
              >
                5
              </div>
              <div class="blackline"></div>
              <div class="infoicon"><img src="../../../assets/info.png" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mainDivsection">
    <div class="containerBlock">
      <div class="ptb50">
        <div class="titleTxt">Success! We’ve Received Your Bank Statements</div>
        <div class="mainContent">
          Thanks for sharing your bank statements the easy way. Do you have any additional
          business accounts at another institution that you’d like ORKA to consider as part of your loan
          application?
        </div>
      </div>
      <div class="ptb50">
        <div class="footer_bluebg displayFlex">
          <div class="displayFlex letsgo" (click)="previous()">
            <div>
              <button type="submit">YES, TAKE ME BACK TO PLAID</button>
            </div>
            <div
              [ngClass]="{
                safariarrowalign: OsName == 'MacOS',
                windowarrowalign: OsName == 'Windows'
              }"
              id="arrowalign"
            >
              <img
                src="../../../assets/nextarrow.svg"
                style="width: 33px; margin-left: 5px"
              />
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="fotterbg displayFlex">
          <div class="displayFlex letsgo" (click)="next()">
            <div>
              <button
                type="submit"
                gtagEvent
                trackOn="click"
                category="Credit Application"
                [params]="{event_label: 'Step 2 Completed'}"
              >NO, LET’S MOVE ON</button>
            </div>
            <div
              [ngClass]="{
                safariarrowalign: OsName == 'MacOS',
                windowarrowalign: OsName == 'Windows'
              }"
              id="arrowalign"
            >
              <img
                src="../../../assets/nextarrow.svg"
                style="width: 33px; margin-left: 5px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
