
.dm-title{
    position: absolute;
    left: 12%;
    top: 25px;
    background: #F8F8F8;
    border-radius: 10px;
    margin: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;  
}
.dm-menu1{
    position: absolute;
    width: 75%;
    height: 50px;
    left: 20%;
    top: 150px;
}
.dm-menu2{
    position: absolute;
    width: 75%;
    height: 50px;
    left: 100%;
    top: 150px;
}
.dm-menu3{
    position: absolute;
    width: 75%;
    height: 50px;
    left: 200%;
    top: 150px;
}
.dm-menu4{
    position: absolute;
    width: 75%;
    height: 50px;
    left: 300%;
    top: 150px;
}
.dm-menustyle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 175.69%;
}
.dm-all{
    position: absolute;
    left: 3%;
    top: 207px;
    background: #F8F8F8;
    border-radius: 10px;
    margin: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 175.69%;
}
.dm-row{
    position: relative;
    width: 80%;
    height: 70px;
    left: 5%;
    top: 348px;
    background: #F8F8F8;
    border-radius: 10px;
    margin: 40px;
}
.col-text{
    color: #C5D93A;
}