.lookingText{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    width: 723px;
    margin-top: 11px;
    margin-bottom: 21px;
}
.ltext{
    font-family: Montserrat !important;
    font-weight: 700;
    font-size: 36;
}
.questiontext{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 15px;
}
.mt-10{
    margin-top: 29px;
}
.drivertextarea{
    height: 90px;
    border: solid #c7c0c0 2px;
}
.mb-10{
    margin-bottom:6px !important;
}