// .sidebar{
//     background: #F8F8F8;
//     position: absolute;
//     width: 100%;
//     height: 100vh;
//     z-index: 1;
// }
// .logo{
//     position: absolute;
//     z-index: 2;
//     top: 10%;
//     left: 10%;
// }
// .menulist{
//     position: absolute;
//     z-index: 2;
//     top: 35%;
//     left: 12%;
// }
// .bg-borrower{
//     background: rgba(197, 217, 58, 0.15);
// }
// .bg-borrower a{
//     color: #C5D93A;
// }
.logo {
  margin-top: 50px;
  margin-bottom: 50px;
}
.minHeight{
  min-height: 50px !important;
}
