<div class="loaderContainer" *ngIf="loader">
    <div class="circle circle-red"></div>
    <div class="circle circle-blue"></div>
    <div class="circle circle-green"></div>
</div>
<div class="centerDiv	">
    <div class="dflex flexStart flexcolumn">
        <div class="loginimage"></div>
        <div class="loginRightBlock">
            <div style="    padding-bottom: 20px;"> <img src="../../assets/orka_logo.png"> </div>
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" *ngIf="userId">
                <div class="dflex flexdirectioncolumn pbottom20">
                    <div class="loginTxt">Setup Password</div>
                    <div class="pbottom15 ">New Password </div>
                    <div class="input-group">
                        <input type="password" [type]="fieldTextType1 ? 'text' : 'password'"  formControlName="newPassword" (change)="validPassword()"
                            placeholder="New Password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                  <i
                                    class="fa"
                                    [ngClass]="{
                                      'fa-eye-slash': !fieldTextType1,
                                      'fa-eye': fieldTextType1
                                    }"
                                    (click)="toggleFieldTextType1()"
                                  ></i>
                                </span>
                              </div>
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newPassword.errors.required">
                                New Password is required
                            </div>
                            <div *ngIf="f.newPassword.errors.minlength">
                                Password must be at least 8 characters
                            </div>
                            <div *ngIf="f.newPassword.errors?.pattern">
                                Passwords must be a mix of uppercase letters lowercase letters
                                ,numbers and special characters
                            </div>
                        </div>
                    </div>
                    <div class="pbottom15 ">Confirm Password </div>
                    <div class="input-group">
                        <input type="password" [type]="fieldTextType2 ? 'text' : 'password'"   formControlName="confirmPassword" placeholder="Confirm Password"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                  <i
                                    class="fa"
                                    [ngClass]="{
                                      'fa-eye-slash': !fieldTextType2,
                                      'fa-eye': fieldTextType2
                                    }"
                                    (click)="toggleFieldTextType2()"
                                  ></i>
                                </span>
                              </div>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">
                                Confirm Password is required
                            </div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">
                                Passwords must match
                            </div>
                        </div>
                    </div>
                </div>
                <button class="loginButton">Setup</button>
            </form>
        </div>
    </div>
</div>