.todo-row{
    position: relative;
    width: 80%;
    height: 70px;
    left: 7%;
    top: 79px;
    background: #F8F8F8;
    border-radius: 10px;
    margin: 40px;
    padding: 10px 0px 0px 90px;
}
.right-arrow{
    color: #C5D93A;
    font-size: 30px;
    padding-left: 60%;
}